body {
	background-color: #000000;
	font-family: sans;
}

ul {
	color: #ffffff;
	list-style-type: none;
	border-left: 1px;
	margin: -0.6% -6%;
	padding: 0% 7%;
	width: 6.5%;
	height: 100%;
	position: fixed;
	overflow: auto;
	border-right: 1px solid #ffffff;
	font-size: 16px;
}

p {
	margin: 0% 17%;
	color: #ffffff;
	font-size: 15px;
}

@media (min-width: 768px) {
	ul {
		font-size: 25px;
	}

	h2 {
		font-size: 30px;
	}

	h4 {
		font-size: 25px;
	}

	p {
		font-size: 24px;
	}
}

h2 {
	margin: 2% 1%;
	color: #ffffff;
}

h4 {
	margin: 0% 17%;
	color: #ffffff;
}

img {
	margin: 0% 17%;
	max-width: 100%;
	height: auto;
}

li a {
	color: #ffffff;
	text-decoration: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}
